[2018-07-23 19:23] calvertdw opened #1 "Patch still needed?"
The patch file in the root (`rosidl_typesupport_ros2_dotnet.patch`) patches a file that does not seem to exist: `rosidl_default_generators/CMakeLists.txt`

[2018-07-23 19:31] calvertdw commented on #1
I get the error:
[code]

[2018-07-24 18:17] esteve commented on #1
I've pushed https://github.com/esteve/ros2_dotnet/tree/remove-patches. I'm reenabling AppVeyor, but in the meantime, do you mind testing it locally and see if it works? Thanks.

[2018-07-24 21:13] calvertdw commented on #1
I get the same error. I'll try purging and building again.

[2018-07-24 21:35] calvertdw commented on #1
Sorry I just realized you di not merge that branch. Let me chack that out.

[2018-07-24 21:39] calvertdw commented on #1
Needs package format version 3: https://github.com/esteve/ros2_dotnet/blob/e0ea001d2a63a6d23d440aed26f9223dc5459d2a/rosidl_generator_dotnet/package.xml#L2

[2018-07-24 21:44] esteve commented on #1
Fixed, crossing my fingers :-) https://ci.appveyor.com/project/esteve/ros2-dotnet/build/1.0.6

[2018-07-24 21:55] calvertdw commented on #1
I now get the same error as here: https://github.com/esteve/ros2_java/issues/49

[2018-07-24 22:16] calvertdw commented on #1
Odd yours failed at fastrtps but mine got past that.

[2018-07-27 20:07] esteve commented on #1
I finally got past Fast-RTPS on AppVeyor, but it failed with `rcl_yaml_param_parser` (see https://ci.appveyor.com/project/esteve/ros2-dotnet/build/1.0.25). It seems that MSVC on AppVeyor is a bit strict and causes some warnings to be labeled as error, I'll submit a PR to fix them.

[2018-08-01 19:01] esteve commented on #1
I've just merged `remove-patches` and set up AppVeyor to run every night.

[2018-08-04 19:51] esteve commented on #1
Closing this since CI passes now, let me know if it works for you and feel free to reopen the ticket if it doesn't. Thanks!

[2018-08-04 19:51] #1 closed

[2018-10-16 10:55] dvargasfr opened #2 "ros2_dotnet on Unity: UnsatisfiedLinkError"
Hi! I'm experimenting an error trying to execute a simple talker/listener example on Unity. The talker/listener code is adapted to Unity Start()/Update() execution model. I succesfully compiled ros2_dotnet for Windows and included the appropriate .dll's (those from install\bin folder and others needed from install\Lib) to a Plugins folder. And at runtime get this UnsatisfiedLinkError:

Unsatisfied

[2018-10-22 10:28] dvargasfr commented on #2
@esteve I found that there are a lot of missing DLL dependencies for rcldotnet_native.dll. I got it using the tool Dependency Walker.
![dependency_walker_output](https://user-images.githubusercontent.com/17497748/47288317-eb870b80-d5f5-11e8-8c8a-eddeffe2c0bf.png)

[2018-10-23 12:46] esteve commented on #2
I don't know for certain, but it'd be strange to put non-plugin DLLs in the Plugins directory. Do you know where in the documentation for Unity states where to put dependency DLLs? I can't seem to find it.

Yes, you'll have to copy those from Windows\System manually. The CMake scripts do that for you, but since you're using Unity directly, it can't be done automatically.

Also, have you tried buil

[2018-10-23 14:12] dvargasfr commented on #2
Dependecy Walker scans dependencies in my own Windows system. I mean, it is no related to Unity, all of those missing DLL aren´t in my system. Should they be there? Any install forgotten?

I'm currently working on deploying Publisher/Subscriber in HoloLens, but as you suggest I'll try to build a simpler UWP example without using Unity.
BTW one thing here: I am developing on a 64bits Windows10, and

[2018-10-23 16:20] dvargasfr opened #3 "Failed fastrtps UWP"
UWP compile error with the current master branch. I followed this steps from an Admin VS2017 console:

#### ament (OK)
[code]

#### ROS2 (ERROR)
[code]
[fastrtps_uwp_output.txt](https://github.com/esteve/ros2_dotnet/files/2506950/fastrtps_uwp_output.txt)

Log file attached.

Get these commands from azure-pipelines.yml file, README.md is outdated.

[2018-10-24 12:36] dvargasfr commented on #3
If everything is placed in the same directory no failiures occur (ament_uwp install alongside ros2_uwp directory).
Also I have to use the full command `python src\ament\ament_tools\scripts\ament.py build` instead `ament build` .

[code]

[2018-11-04 11:20] fmrico opened #4 "Compilation for Bouncy"
Hi @esteve ,

I am trying to compile ros2_dotnet for Bouncy. Do you find appropiate to open a branch for this?

I have a workspace with the packages `ament_cmake_export_assemblies  osrf_testing_tools_cpp  ros2_dotnet and dotnet_cmake_module`. When I compile with `colcon build --symlink-install` I alway get the same error:

[code]

I have been debugging this for hours, but no results. Any idea?

Be

[2018-11-04 13:19] esteve commented on #4
The current version of `ros2_dotnet` already targets Bouncy, but you have to build both from the same workspace, you can't reuse the binary packages. Could you try with the instructions on the README and report back if ti works for you? Thanks.

[2018-11-04 17:38] fmrico commented on #4
Hi,

Yes, compiling everything in the same workspace works :)

Thank you!!

[2018-11-04 17:38] #4 closed

[2018-11-04 18:48] dvargasfr commented on #2
After hard research works using serveral Windows diagnostic tools (the most usefull Process Monitor https://docs.microsoft.com/en-us/sysinternals/downloads/procmon and Visual Studio gflags for more verbose debugging information https://stackoverflow.com/questions/36315538/how-to-determine-which-dll-dependency-is-failing-to-load-in-windows-store-univer ) I was able to overcome some issues:
- Proble

[2018-11-04 22:01] dvargasfr commented on #3
I had ROS2 installed from source. I realized that some prerequisites weren't updated. Uninstalled asio, eigen, tinyxml-usestl and tinyxml2 using the solution from https://github.com/ros2/choco-packages/issues/5 and installed updated versions as mentioned in doc. (asio.1.12.1.nupkg, eigen-3.3.4.nupkg, tinyxml-usestl.2.6.2.nupkg, tinyxml2.6.0.0.nupkg).

Now the installation ends succesfully except `

[2018-11-13 14:10] dvargasfr commented on #3
Solved replacing `TRANSITION_SHUTDOWN` with `TRANSITION_DESTROY` in `ros2/launch/launch_ros/launch_ros/events/lifecycle/change_state.py`, `ros2/rcl/rcl_lifecycle/src/default_state_machine.c` and `ros2/rcl/rcl_lifecycle/test/test_default_state_machine.cpp`

[2018-11-13 14:10] #3 closed

[2018-11-13 14:57] dvargasfr opened #5 "Unable to run rcldotnet_examples"
Hi @esteve , I installed everything from sources, only test_msgs skiped, but I get this error when I try to run the talker/listener example on a Windows10 cmd:

[code]
not UWP, just dotnet, but the platform is being detected as UWP?

[2019-01-07 17:05] esteve commented on #5
Does this work now after https://github.com/esteve/ros2_dotnet/pull/8 was merged?

[2019-01-08 13:32] dvargasfr commented on #5
Yes, it does. But including the correct version of Fast-RTPS and rcl_interfaces in ros2_dotnet.repos as suggested in #9 .

[2019-01-08 13:32] #5 closed

[2019-01-16 15:20] MischaRo commented on #2
Hello @dvargasfr , I am also interested in running ROS2 on Unity.

 After compiling ros2_dotnet for Windows  I included the dlls and libs from the install install\bin and install\Lib folder to Assets/Plugins folder in Unity
I created a script to work as a ROS2 listener, but unfortunately Unity does not seem to recognize the included dlls, as `using ROS2; ` or any other ROS2 method is not recognize

[2019-01-19 18:58] samiamlabs commented on #2
Hi.

Any progress @dvargasfr?

I made a C# wrapper for the crystal release of ROS2 targeted at use with Unity. Got it working on Linux but haven't tested it on Windows yet.
(https://github.com/DynoRobotics/unity_ros2)

Made a temporary fix in dotnet_cmake_module because I got the wrong _target_path for Mono when installing the DLLs on Linux for some reason.
If you use the master branch of dotnet_c

[2019-01-21 15:49] dvargasfr commented on #2
Hi @samiamlabs ,

FYI, some details about ROS2 UWP apps development are being documentend here https://github.com/IntelligentRoboticsLabs/ARViz

[2019-01-23 13:39] MischaRo commented on #2
Hi, @dvargasfr
I am also interested in using ros2_dotnet for Unity and I was closely following this thread. Unfortunately I was not able to get it to work so far.

What I tried till now:

I downloaded the release build `ros2-dotnet-uwp-x86` and copied all the dlls from `ros2> install> bin` to the Unity folder `Assets> Plugins> x86`
After that I used dependencies tool (https://github.com/lucasg/Dep

[2019-01-24 08:42] dvargasfr commented on #2
Hi @MischaRo ,

Please keep checking https://github.com/IntelligentRoboticsLabs/ARViz , every detail you are asking for is going to be explained over there. Throughout today "Unity" aspects are going to be updated.
If you find any doubt after that, please write your issue on that repo.

[2019-01-24 08:46] MischaRo commented on #2
Hi @dvargasfr ,

Thanks for the reply, I will be closely watching the updates and give you feedback if I have any problems

[2019-01-24 16:31] dvargasfr commented on #2
@esteve sure! I include it asap.

[2019-02-04 17:16] jeffdelmerico opened #12 "Compiling UWP for HoloLens"
Hi Esteve,

I'm trying to compile ros2_dotnet in order to deploy some ros2 applications to HoloLens, so I have been attempting to cross-compile for x86 on my x64 machine.  I am following the instructions in the README, and despite CI saying that it passes for UWP x86, rcldotnet_common fails to build when I select "Visual Studio 15 2017" as the target generator.  The primary error is:

but I've pas

[2019-02-04 18:33] fmrico commented on #12
Hi @jeffdelmerico ,

May I see your compilation command? I am (just now!!) compiling for UWP 32 (for hololens) in my Windows10 64 bits machine without any problem.

Best

[2019-02-05 09:12] esteve commented on #12
@jeffdelmerico thanks for trying out ros2-dotnet. It looks like the .NET Core runtime for x86 is not installed in your NuGet cache. The CI uses Azure Pipelines, so the test runners already have everything.

Could you type the following to check that the everything is correct?

[code]

And this to make sure that you can build .NET Core projects for win-x86:

[code]

You should now have a file named

[2019-02-05 11:22] jeffdelmerico commented on #12
Hi @esteve and @fmrico

Thanks so much for developing the dotnet interface for ros2!

I'm a long time ROS user, but I am new to .NET and Windows development, so it's possible that I've gone off track with my local setup.  However, here are the steps I've taken, starting from a clean terminal with no ROS or ROS2 distributions sourced:

[code]

The ament step produces lots of output but no errors.

[2019-02-05 11:52] esteve commented on #12
@jeffdelmerico are you using the "x64 Native Tools Command Prompt for Visual Studio 2017" console when building this, or the "x64_x86 Cross Tools Command Prompt"?

As a workaround you can also unset the PlatformTarget environment variable (`set PlatformTarget=`) and that should work.

I usually just use the normal prompt, `ament` only needs to have CMake and MSBuild in `%PATH%`, but that's it.

[2019-02-05 13:22] jeffdelmerico commented on #12
@esteve thank you very much for your response.  That was indeed the problem.  I realized last night that I had initially used the x64 command prompt, so I tried again this morning with the x86 one, which also didn't work, but I had forgotten about the cross tools prompt.  The workspace builds now, but I get a few errors of the form:
[code]

However, I'm fairly certain that this is just due to my w

[2019-02-05 13:22] #12 closed

[2019-02-05 13:36] esteve commented on #12
@jeffdelmerico awesome! I'm glad it helped. Regarding the path length, yeah, unfortunately that's a limitation of Windows, but I think a workaround could be implemented in `ros2-dotnet`. Anyway, let me know if you have any doubts with `ros2-dotnet` for UWP and the HoloLens, I'll be happy to help.

[2019-02-05 14:07] jeffdelmerico commented on #12
Thanks!  I will definitely be in touch as I move forward, and perhaps I can help contribute to ARViz if there is some overlap in our goals.

[2019-02-13 10:21] jeffdelmerico opened #14 "Initializing node with special character in name"
Hi Esteve,

I've encountered some odd behavior when trying to instantiate nodes using a string with a - or whitespace in the name.  I haven't tried with all special characters, but names composed of only alphanumeric characters are fine, and underscores seem to be fine as well.  What happens is that if the string contains a special character (for example the device name obtained from `Windows.Secu

[2019-02-13 10:38] esteve commented on #14
IIRC, nodes whose name contains special characters are not supported in the lower layers of ROS2, so the problem is actually in `ros2-dotnet` for not properly checking the node name before instantiating a node object.

[2019-02-13 10:58] jeffdelmerico commented on #14
Thanks for your response.  I had not previously encountered this with other languages, and I wasn't able to find anything about naming conventions in the regular ROS2 documentation, but based on your suggestion, I tried something similar in python and got an exception:
[code]

[2019-02-13 10:58] #14 closed

[2019-02-13 11:03] esteve opened #15 "Check that the name passed to createNode is valid (i.e. only alphanumeric and underscores are allowed)"
See https://github.com/esteve/ros2_dotnet/issues/14

Here's how `rclpy` does it: https://github.com/ros2/rclpy/blob/master/rclpy/src/rclpy/_rclpy.c#L969-L979

[2019-02-13 11:04] esteve commented on #14
I've opened https://github.com/esteve/ros2_dotnet/issues/15 to address this, but unfortunately I don't know when I'll have time to work on it.

[2019-02-17 23:28] fmrico commented on #14
Hi @esteve @jeffdelmerico

I address #15 in #16

Best

[2019-02-21 12:17] MischaRo opened #17 "Incomplete build of ros2_dotnet compared to release files"
Hello @esteve, I have a question concerning the content, when building ros2_dotnet.
I was building ros2_dotnet_uwp without any errors, but after the building process was finished, I compared my content with the content of your release files. I noticed, that my build had quite a lot of files missing, some of whom I need to work on a project.

Just to make sure: this was my build process and I used

[2019-02-21 12:38] MischaRo opened #18 "Using ros2_dotnet_uwp with Unity for Hololens not working"
Hello @esteve, I am trying to use ros2_dotnet_uwp with unity for Hololens. I was already discussing the issue with @dvargasfr over here https://github.com/IntelligentRoboticsLabs/ARViz/issues/1
https://github.com/IntelligentRoboticsLabs/ARViz released a manual for using the generated DLLs in a UWP application from Unity. The manual is still present in an older version of the readme (https://github

[2019-02-21 15:46] esteve commented on #17
The files on the release page are no longer updated, I'll remove them soon. In any case, it seems your build didn't complete, could you send me the console output of the `ament` run? Thanks!

[2019-02-26 06:27] fmrico commented on #18
Hi @MischaRo ,

During the execution, you can see some exception like those. It is used to detect the platform. It does not mean that it is not working.

Please, check if there is any node or topic up.

Best

[2019-02-26 08:29] MischaRo commented on #17
Thanks for the feedback.
This is the console output of the ament run:

![build ament run](https://user-images.githubusercontent.com/26136476/53397950-b9712600-39a8-11e9-8b04-8ca3ad9b9b86.JPG)

Its showing 0 errors, so it looks like it my build did complete?

[2019-02-26 08:57] esteve commented on #17
@MischaRo Do you happen to have OpenSplice installed? Unfortunately it can't be crosscompiled for UWP, so the `rmw_opensplice_cpp` package fails. You can uninstall OpenSplice and try again, or ignore the `rmw_opensplice_cpp` package by putting a `COLCON_IGNORE` file in the `rmw_opensplice_cpp` directory or by passing `--packages-skip` to `colcon build`.

[2019-02-26 09:50] MischaRo commented on #18
Hi @fmrico,

thanks fort he update!
I checked again and I have this situation:

After starting the application, I ran `ros2 node list` and the node `/talker` was displayed.
So `node = RCLdotnet.CreateNode("talker");` worked.

After looking at `ros2 topic list` nothing was displayed.
So It seems that ` chatter_pub = node.CreatePublisher<std_msgs.msg.String>("chatter");` did not create a topic “chat

[2019-02-26 10:23] fmrico commented on #18
Hi @MischaRo ,

Only for checking: Are you sure that your router support **wireless** udp multicast? I lost a lot of hours this weekend because udp multicast was working using the ethernet, but it doesn't work using the wireless.

[2019-02-26 12:10] MischaRo commented on #17
Hi @esteve

I just tried to build it again, after you removed the ` rmw_opensplice` from the ` ros2_dotnet_uwp.repos`
This time the build finished without errors and the overall package looks more complete!

[2019-02-26 12:31] MischaRo commented on #18
Hi @fmrico,
I think that my router does support wireless udp multicast.
But I also tried running the example above on the Hololens emulator, so I am not sure if the wireless udp multicast is an issue?

[2019-02-26 16:18] esteve commented on #17
@MischaRo that's great! Can I close this ticket? Have you tried #18 with your newly built workspace?

[2019-02-27 09:17] MischaRo commented on #17
Hi @esteve,
Yes, I have tried #18 with my build and I got it running!
thanks a lot for your help!

[2019-02-27 09:17] #17 closed

[2019-02-27 09:19] MischaRo commented on #18
Hi @fmrico
I got it running by using my own build from #17
Thanks a lot for your help!

[2019-02-27 10:21] fmrico commented on #18
Congrats!!!

Stay tuned for new developments ;)

[2019-02-28 19:51] esteve opened #19 "Add support for Crystal and Dashing"
Right now `ros2_dotnet` only support Bouncy.

[2019-02-28 19:52] esteve opened #20 "Add support for clients and services"

[2019-02-28 19:53] esteve opened #21 "Replace ament_tools with colcon"

[2019-03-04 14:42] MischaRo commented on #18
Hi @frico,
sorry but I have to reopen this issue again.
Up until now, I was running Unty/ROS2 in the Hololens Simulator on my computer and got it working there.

After that, I tried to run it on a real Hololens, but it does not work there.
Every time I run the application, its as you said in the message above: I can see the Node, but it does not show me the Topics.

I tried running wireshark, to s

[2019-03-04 14:55] esteve commented on #18
@MischaRo have you enabled the Internet capabilities in your app? Do you have minimal example of your project?

[2019-03-04 14:57] esteve commented on #18
@MischaRo in any case, it'd be good to move this to a new issue, the cause for the original issue was resolved and this is a separate problem. Could you open a new ticket?

[2019-03-07 10:06] MischaRo commented on #18
@esteve I will open a new issue for this

[2019-03-07 10:06] #18 closed

[2019-03-07 10:39] MischaRo opened #22 "wireless udp multicast problem ROS2UWP not working on Hololens"
Hello @esteve & @fmrico
As discussed in #18 I will open this new issue for the upcoming problem.
The situation is as follows:

I have a Unity project where, on start, the following script is executed:

[code]

I have uploaded my minimal example application to:
https://github.com/MischaRo/Ros2UWPminimal

When running the application in the Hololens emulator, everything works as expected. When runni

[2019-03-08 13:41] esteve commented on #22
I'm not sure the assessment that it's caused by a faulty wireless router is entirely correct, my guess is that it's caused by the QoS settings in `rcldotnet` not using the reliable profile, which is not implemented yet unfortunately.

Meanwhile, could you edit the description of the ticket and paste the console output as text? It'll be easier for other people to search it.

[2019-03-08 15:05] jeffdelmerico commented on #22
I've been running into similar problems to @MischaRo , except that I don't even see the node advertised when running on the HoloLens (while everything works fine in the emulator).

@esteve Can you please clarify what you mean about the QoS settings?  It looks to me like rcldotnet is already using the [default publisher/subscriber](https://github.com/jeffdelmerico/ros2_dotnet/blob/2b89703636596f510

[2019-03-18 13:51] esteve commented on #22
@jeffdelmerico you're right, for a while publishers were created without a specific profile and hence they used best effort links, instead of reliable. Do you have a minimal example of your work? Something that I can use to reproduce the issue? Another issue is that nodes need some time to "warm up" before they are can be discovered by other peers. Could you try waiting a little bit before creatin

[2019-03-18 15:33] jeffdelmerico commented on #22
@esteve I put together a minimal example that is adapted from the RCLDotnetTalker.cs example.  I set up a Blank UWP App in Visual Studio, and then used the following code for the MainPage.xaml.cs:

[code]
I then followed the instructions [here ](https://github.com/esteve/ros2_dotnet#using-generated-dlls-in-your-uwp-application-from-visual-studio) to link the ros2_dotnet DLLs into the project.

Fro

[2019-03-18 16:28] esteve commented on #22
@jeffdelmerico thanks for the example. Do you happen to have IPv6 enabled on your local network? I recall having issues with Fast-RTPS and IPv6, but now I can't remember if it was with the ROS2 Android port or UWP.

[2019-03-19 09:02] jeffdelmerico commented on #22
@esteve Unfortunately I am in a situation where I can't administer my network at all, and IPv6 is enabled, at least partially.  I've been trying to communicate between a HoloLens connected over WiFi to a desktop connected via ethernet to the same network.  Over WiFi only an IPv4 address is assigned, but the desktop receives both IPv4 and IPv6 addresses.  I suspect that the network configuration is

[2019-03-20 10:24] ceinem opened #24 "Problem with setup for UWP ament"
Hi,
I'm struggeling with the general setup.
When I run the:
`vcs import src < ament_dotnet_uwp.repos`
command, I get the following error:
`C:\dev\ament>vcs import src < ament_dotnet_uwp.repos
Traceback (most recent call last):
  File "c:\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\python37\lib\runpy.py", line 85, in _run_code
    exec(code, run_glo

[2019-03-20 10:40] esteve commented on #24
Thanks for trying out `ros2-dotnet`. Could you paste the `ament_dotnet_uwp.repos` file here? Sometimes when fetching it from GitHub, it gets scrambled and therefore `vcs` can' import it.

[2019-03-20 11:32] ceinem commented on #24
Thanks for the quick reply.
Sure, here it is.
[ament_dotnet_uwp.zip](https://github.com/esteve/ros2_dotnet/files/2987908/ament_dotnet_uwp.zip)

(Githup didn't let me upload it like that, so I zipped it)

[2019-03-20 12:42] esteve commented on #24
@ceinem the .repos file is empty (or more appropriately, it contains the string "404: Not Found"). The contents of the file should be as follows:

[code]

I just realized that the URL for the repos file in the instructions was wrong, I've updated it to master:

https://github.com/esteve/ros2_dotnet/blob/master/README.md#ament

Could you try again? Thanks.

[2019-03-20 17:54] ceinem commented on #24
It worked!
Awesome! Thank you!

[2019-03-20 17:54] #24 closed

[2019-03-22 15:09] jeffdelmerico commented on #22
@esteve I did some more tests, and eventually was able to run this minimal example app on my HoloLens and receive messages on a laptop connected over the same WiFi network.  In principle, our wired network should be seamless with the wireless one, but I have not yet had any success getting messages in or out from the desktop. However, I also found that after my initial success with the HL-to-Lapto

[2019-03-22 15:21] esteve commented on #22
@jeffdelmerico thanks for the update. Does your desktop PC get an IPv6 address? So does your laptop? In any case, I'm sorry to hear you're having these issues, it should be more straightforward, but debugging it all is a bit difficult unfortunately.

[2019-03-26 11:55] jeffdelmerico commented on #22
@esteve I think I've found a reasonable workaround.  We have a parallel "guest" network that I was told would not allow device-to-device communication, but it appears that UDP isn't blocked.  So I've been able to do bidirectional communication with both ROS and ROS2 over that guest network, which is fine for now.  Thanks for your help!

[2019-04-01 18:12] esteve commented on #22
@jeffdelmerico that's great!

@MischaRo how big is your network? Is it IPv6 or IPv4? Is there more than one router? What's the netmask?

[2019-04-09 19:09] ceinem opened #25 "Ament missing in repos file"
Hi,
is it possible that ament is missing from the [repos file](https://raw.githubusercontent.com/esteve/ros2_dotnet/master/ros2_dotnet.repos)?

At least when I run vcs, it won't download ament and therefore I cannot execute `src\ament\ament_tools\scripts\ament.py build` to build on windows.

Or am I missing something here?

Thanks for any help!

[2019-04-10 07:46] ceinem opened #26 "Package 'rcldotnet_example' not found"
Hi,
I think I managed to get ros2 dotnet installed, but when I'm trying to run the talker/listener example I always get the message "Package 'rcldotnet_examples' not found".

Any ideas on what I'm doing wrong? Do I have to tell ros2 where to find the example package?

Thank you!

[2019-04-15 10:06] esteve commented on #25
Thanks for trying out ros2-dotnet. I've been using the other repos files for CI, but forgot to update this one. I've readded the ament repositories, could you give it a try? Thanks.

[2019-04-15 13:58] ceinem commented on #25
Awesome! Thank you very much!! That did it. That also solved #26

[2019-04-15 13:58] #25 closed

[2019-04-15 13:58] #26 closed

[2019-05-02 12:38] ceinem opened #27 "Nested types for PointCloud"
Hi esteve,

thank you so much for the development of ros2_dotnet and for the help on the past few issues that I've posted.
I'm working on a project with PointCloud2 Messages and as far as I understand it, they require nested messages. So I installed everything from fmricos pull request #10 and it installed without a problem. I created a new Visual Studio project and added all the files and referen

[2019-05-05 18:11] fmrico commented on #27
Did you use my PR for collections?

[2019-05-05 18:15] ceinem commented on #27
Hi fmrico,
Thanks for your answer.
I used your code from the nested-types branch. https://github.com/fmrico/ros2_dotnet/tree/nested_types

I'll try the collections PR this evening. Thanks for that note!

[2019-05-06 12:44] ceinem commented on #27
Hi fmrico,
thanks for your help! I just tested it on the HoloLens, works perfectly!!

[2019-05-06 12:45] #27 closed

[2019-05-08 17:03] fmrico commented on #27
Excellent!!!

[2019-06-03 09:12] adamdbrw commented on #19
I will start working on this in a couple of days

[2019-06-03 09:43] esteve commented on #19
@adamdbrw cool, thanks!

[2019-06-17 10:18] adamdbrw commented on #19
My effort will be focused on supporting Dashing on Linux. I could use some assistance later with UWP

[2019-07-07 18:22] theseankelly commented on #19
I'm actively investigating options (including ros2_dotnet) for running ROS2 nodes in UWP apps for HoloLens. Let me know what I can/should do to help, @adamdbrw

[2019-07-08 08:27] esteve commented on #19
@adamdbrw @theseankelly the main focuses of `ros2_dotnet` are Unity and UWP (precisely for the HoloLens), so while adding support for Dashing on Linux is great, the cool thing about `ros2_dotnet` is that it can run on board the HoloLens and any other UWP device (e.g. Xbox One, Windows IoT, etc.)

[2019-07-08 08:30] adamdbrw commented on #19
I get it. We can have both though. I would like to push out a branch which @theseankelly can then take and make sure it works with UWP and HoloLens just as well. What do you think?

[2019-07-08 09:02] esteve commented on #19
@adamdbrw sure, sounds great, submit a pull request and we'll take a look at it. Thanks!

[2019-07-08 09:40] theseankelly commented on #19
Agreed -- we can definitely have both. I'm guessing the bulk of the work is the same between Mono/UWP so @adamdbrw 's work will be a great starting point. Let me know when it's up and I'll have a look.

[2019-07-08 10:43] theseankelly commented on #21
Just an FYI: It looks like colcon now has proper support for VS generator targets as of: https://github.com/colcon/colcon-cmake/commit/46803e738c86ee406fbc41db58a6f8278d9467ea

I've verified I'm able to build some x86 artifacts for ros_base (Dashing) with `colcon build --mege-install --cmake-args -G "Visual Studio 15 2017" -A Win32`. There are other build issues on x86 of course, but I think we ou

[2019-07-08 10:49] esteve commented on #21
@theseankelly this is excellent, thanks for the heads up. I had to patch `ament_tools` to support Win32 (https://github.com/esteve/ament_tools/commit/c2dce537a5652b80de46ae4b3b44b83538f85a65), but never got around to submit the changes for review, I'll update the instructions and the CI to use `colcon` instead. Thanks!

[2019-07-08 10:51] theseankelly commented on #21
Sure, to be clear though -- I haven't tested it against ros2_dotnet yet. Just saw that colcon won't force you into x64 anymore, if the -A flag is specified.

[2019-07-08 12:22] adamdbrw commented on #19
@esteve  @theseankelly
Things are going well. I have integrated Samuel's improvements and managed to get rcldotnet_examples running. Everything is currently on Crystal and I still need to fix .repo files and test the standalone build (i.e. mess up my Crystal distro paths).

When I am done, I'll make a pull request which contains the integrated changes from Samuel (Crystal API, nested structures, u

[2019-07-08 14:11] adamdbrw commented on #21
@theseankelly
If you could adapt .repo file to colcon build for a standalone version (which doesn't require ROS2 installed), that would very much of a help (since this is not my use case). The first pull request for us to start should actually come in an hour or so

[2019-07-08 14:40] adamdbrw commented on #19
Starting with Crystal, see #33

[2019-07-08 14:53] esteve commented on #19
@adamdbrw frankly speaking, I'm not comfortable with that approach. Adding support for Crystal/Dashing should be an evolutionary step (e.g. fix the API, update the CMake macros, etc.), but it seems that #33 replaces `rcldotnet` with Samuel's fork entirely (he should be the one to submit the pull request, though). If his fork works better for you, feel free to use it, no problem at all with that :-

[2019-07-08 15:18] adamdbrw commented on #19
@esteve I would argue for you to take another look. This approach saves a lot of work that has already been done. I also was under impression that we agreed to this approach over email.
I don't believe in his or hers, just in what's best. It would be best to have one rclcs project that serves well both for HoloLens guys and Unity guys.
Your repo, your decision.

[2019-07-09 08:42] esteve commented on #19
@adamdbrw that wasn't the impression I got from our emails. I thought that Samuel would submit the pull request and I asked for the test suite first, since we could have the CI do the job of ensuring that nothing broke.

I'd say that it'd take me less time to port `ros2-dotnet` to Dashing and add any missing features than reviewing 116 files, of a codebase that I'm not familiar with.

BTW, because

[2019-07-09 09:21] adamdbrw commented on #19
@esteve Alright, I can see how this is not what you expected and how it is very difficult to review, especially since you got some fixes going in the meantime.

The base for my decision was based on my evaluation that the unity_ros2 rclcs code was more evolved structurally and ported to Crystal already. And there were additional features implemented, which I liked. Since my goal is the Dashing por

[2019-07-10 15:10] samiamlabs commented on #19
Yes @esteve, I did and still do want to submit a pull request attempting to integrate what I have been working on with ros2_dotnet. I have just been to busy with work projects to get around to it.

I'm planning to put some time into bringing .NET/C# support to dashing and don't really care about how or what repo, just that it works and has the features I need. I think would be nice if we could put

[2019-07-10 15:19] theseankelly commented on #19
Here's a proposal: Let's get the existing ros2_dotnet project "as-is" updated to dashing (as minimal a port as we can possibly achieve - no new functionality).

Once that's done, @samiamlabs and @adamdbrw 's work will be effectively rebased on top of ros2_dotnet, dashing (whether an actual rebase makes any sense or not is up to them).

I'm also doing this in my spare time, but I have some reasons

[2019-07-15 15:06] adamdbrw commented on #19
So, I managed to port the message generator to Dashing (some issues to fix, but it's looking good). I want to contribute some changes and will look into how I can make small, manageable pull requests (this will take some time).

[2019-07-15 23:32] theseankelly commented on #19
I've gotten quite close to a straight Crystal port of ros2_dotnet (with no new features).
- I have a functioning set of .repo files for the complete build, as well as the distributed host/target UWP build
- I have updated/rebased all of @esteve 's compatibility changes to the core ROS2 repos, including a couple new ones (see the repo files for pointers)
- I have ported rcldotnet to use Crystal API

[2019-07-16 16:22] esteve commented on #19
@theseankelly this is awesome, thanks! Feel free to submit a pull request when you think it's ready for merging. Is there anything I can help with?

[2019-07-18 12:30] theseankelly commented on #19
Hey @esteve -- I've been continuing to look at this. Ran into an issue with how the RMW implementation is selected at runtime through the rmw_implementation library -- clearly this can't be made to work within UWP. My solution so far is to replace 'rmw_implementation' in the CMakeLists.txt and package.xml with a specific implementaton ('rmw_fastrtps_cpp'). However, I see you didn't do this in your

[2019-07-18 13:09] esteve commented on #19
@theseankelly yeah, `rmw_implementation` uses Poco for loading the appropriate rmw vendor and since UWP won't allow Poco's way of loading arbitrary libraries (LoadLibrary), it won't work. Perhaps Poco could be patched to use LoadPackagedLibrary instead, but that's another can of worms.

Anyway, the trick here is that if `rmw_implementation` only finds one rmw implementation at build time, it'll us

[2019-07-18 13:12] esteve commented on #19
@theseankelly BTW, at some point it'd be good to switch to Cyclone (https://github.com/eclipse-cyclonedds/cyclonedds) when it supports XTypes. FastRTPS' performance is rather poor and the code is not as robust as I wished.

[2019-07-18 13:44] theseankelly commented on #19
awesome! Thanks for the tip. Had a feeling it would be something more straightforward than what I was doing!

[2019-07-18 14:34] #21 closed

[2019-10-22 19:39] cmpute opened #38 "Some suggestions"
I'm not currently a user of ROS on .Net, but I'm really thrilling to find this repo and really appreciate your work! After browsing through the codes, I actually have some thoughts and would like to propose some suggestions for discussion~

First is that the name `RCLdotnet` is not confirming to Pascal naming, maybe it's convenient to just call it `RCL` or `RosClient`.

Another one is that why use

[2019-10-27 18:07] theseankelly commented on #38
`RCLDotnet` is more consistent with the name of other RCL implementations (`rclpy`, `rclc`, `rclcpp`). @esteve will have to speak to the DLLImport question but I suspect it has to do with cross-platform support (Linux/Mono).

[2019-11-06 11:51] theseankelly opened #39 "UWP apps do not load if built for .NET Native"
On recent versions of Visual Studio, new UWP projects by default use the ['.NET Native'](https://blogs.windows.com/windowsdeveloper/2015/08/20/net-native-what-it-means-for-universal-windows-platform-uwp-developers/#sqhXJofxYoKf7iJY.97) compilation option. It appears that projects built this way attempt to pre-load referenced DLLs before the application is even activated.

This behavior causes issu

[2020-02-09 12:36] theseankelly commented on #19
Hey @esteve this can now be closed as of #40

[2020-03-08 21:33] #19 closed

[2020-03-27 00:32] theseankelly opened #45 "Support for unicode char/string types"

[2020-03-27 00:32] theseankelly opened #46 "Support for string constants (specifically BoundedString)"

[2020-03-27 00:32] theseankelly opened #47 "Support for nested types"

[2020-03-27 00:50] theseankelly opened #48 "Develop unit tests"

[2020-03-27 00:50] theseankelly opened #49 "Support for Actions"

[2020-03-27 10:58] theseankelly opened #50 "Eloquent Support"

[2020-03-28 18:12] theseankelly opened #51 "Improve build instructions for Windows Desktop and Linux"
The build instructions for Windows and Linux Desktop aren't ideal -- in particular on these platforms it shouldn't be necessary to compile the entire distribution. Rather, set the project up as an overlay workspace on top of an existing ROS2 installation.

For example, look at how the rust language bindings operate: They only build the core binding package itself, plus any relevant packages contai

[2020-03-29 08:16] esteve opened #52 "Integrate CycloneDDS"
[CycloneDDS](https://github.com/eclipse-cyclonedds/cyclonedds) has become the default DDS implementation for many projects and organizations and ADLINK is actively supporting it for ROS 2.

CycloneDDS is small, fast and has few dependencies, so it'd be ideal for integrating it into UWP.

[2020-03-29 08:17] esteve commented on #52
One major reason for investigating the use of CycloneDDS in ros2-dotnet is that  Fast-RTPS breaks the UWP builds in every release, despite claiming to have support for it, the eProsima folks don't seem interested in addressing these issues and add UWP to their CI.

[2020-03-29 08:20] fmrico commented on #52
I agree with @esteve. Besides, results (delay, stability and data loss) with Cyclone are better than Fast-RTPS in our application and sounds reasonable to move to Cyclone.

[2020-03-29 09:24] theseankelly commented on #52
Fully agree. I took a run at a UWP compatible Cyclone build a couple weeks ago -- there's a large dependency on legacy Win32 APIs which are not allowed in UWP. It needs quite a bit of work unfortunately.

For non-UWP applications, should be no problem to move to Cyclone right now as there's no direct dependency between ros2_dotnet and the DDS implementation.

[2020-03-29 09:25] #50 closed

[2020-03-29 09:28] theseankelly commented on #52
Also, as of Eloquent I no longer see a straightforward path for ARM64 (HoloLens2) support on Fast-RTPS. This fact increases the need to get Cyclone working -- it's general lack of third party dependencies is attractive for being able to maintain UWP and cross-arch support.

[2020-03-29 11:44] fmrico opened #53 "Problems building for Win10-Desktop"
Hi,

I am building in Windows10 for Desktop, and I have found some problems:

- `ros2lifecycle` has a test dependency with `ros2lifecycle_test_fixtures`, and it depends on `rclcpp` and `rclcpp_lifecycle`. As @theseankelly and I discussed, it's better to avoid including `rclcpp`.
- `rcl_logging_spdlog` depends on `splog_vendor`, but it is not included in repos.
- `ros2trace` fails for a `UnicodeDec

[2020-03-29 11:48] fmrico commented on #47
I will be working on this these days

[2020-03-29 11:55] theseankelly commented on #53
Yes we should update the instructions -- I have a similar build command as you in the github actions file (https://github.com/ros2-dotnet/ros2_dotnet/blob/f928c55e81a39431900fc7c6dd21310e2f062a74/.github/workflows/build_desktop.yml#L47) but forgot to update the README!

Nonetheless, per my comments in #51 I think it would be better (for Linux and Desktop) to not require an entire rebuild. It shoul

[2020-03-29 11:56] theseankelly commented on #52
Hey @esteve I see you assigned yourself to this task -- are you actively working on it and/or interested in doing so?

[2020-03-29 11:57] fmrico commented on #53
This sounds great!!!

[2020-03-29 13:32] esteve commented on #52
@theseankelly yeah, I want to give it a try. Do you have any feedback when you attempted to compile CycloneDDS for UWP?

[2020-03-29 17:22] theseankelly commented on #52
@esteve I didn't try for very long at all so not much to report. Couple things come to mind:
1. Cyclone's build scripts use CMAKE_SYSTEM_NAME to choose between windows/mac/linux. Since this value is set to WindowsStore for UWP (which does not match Windows) it falls through and tries to build the linux targets. You'll need to handle that - maybe here:

https://github.com/eclipse-cyclonedds/cyclone

[2020-03-30 06:55] fmrico commented on #47
Initial version finished at #54 :)

[2020-03-30 08:06] fmrico commented on #51
Hi @theseankelly

I have just built in Linux only the next packages in an overlay workspace and the ros2_examples work perfectly:

[code]

This way of use is a great advance for the adoption of ros2_dotnet :)

[2020-04-13 08:03] mce16 commented on #53
i run from command prompt:
colcon build --merge-install

Turn out some errors encountered, anyone has such problem?

Starting >>> ament_package
Starting >>> ament_lint
Starting >>> ament_cppcheck
Starting >>> fastcdr
Starting >>> poco_vendor
Starting >>> gtest_vendor
Starting >>> tinydir_vendor
Starting >>> osrf_pycommon
Fatal Python error: failed to get random numbers to initialize Pythont - 0.4s

[2020-04-13 08:05] mce16 opened #55 "Build error on Windows 10 dekstop"
Hi, managed to run the build, but not sure why i am encountering this error
rcldotnet_common [ Exited with code 1 ]
towards the end of the build; and the rest of the rcldotnet_examples, rosidl_generator_dotnet all are not built.

`

Starting >>> rcl_yaml_param_parser
Failed <<< rcldotnet_common [ Exited with code 1 ]
Aborted <<< rosidl_generator_dds_idl
Aborted <<< rcpputils
Aborted <<< rcl_loggin

[2020-04-15 06:52] mce16 commented on #53
Finally managed to build, but encounter some errors as below; would appreciate any pointer;

`
Starting >>> ament_package
Starting >>> ament_lint
Starting >>> ament_cppcheck
Starting >>> fastcdr
Starting >>> poco_vendor
Starting >>> gtest_vendor
Starting >>> tinydir_vendor
Starting >>> osrf_pycommon
Finished <<< ament_cppcheck [4.48s]
Starting >>> ament_pep8
Finished <<< ament_package [5.39s]
Fini

[2020-04-15 08:28] mce16 commented on #53
Hi, managed to run the build, but not sure why i am encountering this error
rcldotnet_common   [ Exited with code 1 ]
towards the end of the build; and the rest of the rcldotnet_examples, rosidl_generator_dotnet all are not built.

`

Starting >>> rcl_yaml_param_parser
Failed   <<< rcldotnet_common   [ Exited with code 1 ]
Aborted  <<< rosidl_generator_dds_idl
Aborted  <<< rcpputils
Aborted  <<< r

[2020-04-26 18:14] theseankelly commented on #48
For the message generator, we should strive to emulate the level of testing here: https://github.com/ros2/rosidl/tree/master/rosidl_generator_cpp/test

[2020-04-26 18:15] theseankelly commented on #48
Thanks to @fmrico for putting some xUnit test infrastructure in place in #10

[2020-04-27 10:35] theseankelly opened #56 "Consider using rclcpp or new rclc client library"
`rcldotnet` is (just like `rclpy`) built on top of the `rcl` layer. This allows for simple bindings to the C API and minimal dependencies/impact from API changes between releases. However, it does mean duplicating a lot of the work (pub/sub/services/actions, executors) ongoing in other higher level client libraries.

Since C# can interop with c++ as well as c, it might be interesting to consider b

[2020-04-28 05:33] comoc commented on #55
same for me.

[code]

[2020-04-28 10:12] theseankelly commented on #55
I believe this is a duplicate of #53 -- have you tried the workaround posted by @fmrico?

In the meantime, I'm working on an improved set of build instructions for Windows/Linux. There ought to be no need to build the entire ROS2 source unless you're trying to build for UWP.

[2020-04-28 14:19] guillermo-ruffino opened #57 "Unexpected behavior after build"
I really don't know which environment info to add here, this is Win10 / VS 2019
[code]

I follow the guide of ros2_eloquent build, everything is ok, then I follow the readme, except that I use @fmrico command to build  https://github.com/ros2-dotnet/ros2_dotnet/issues/53#issue-589773501

It builds ok, however when I run

`ros2 run rcldotnet_examples rcldotnet_listener``

I get

[code]

if I run th

[2020-04-28 14:37] kallikarls opened #58 "Build error on Linux"
I get following build error when trying to build ros2-dotnet.  The native ROS2 build was successful.  Full build output is attached.

colcon build --merge-install fails with following error:

Starting >>> rcutils
--- stderr: rcutils
CMake Error at CMakeLists.txt:154 (find_package):
  By not providing "Findosrf_testing_tools_cpp.cmake" in CMAKE_MODULE_PATH
  this project has asked CMake to find a p

[2020-04-28 15:53] guillermo-ruffino commented on #51
@fmrico
can you share the vcs export and the commands involved? I'd like to do the same in win

[2020-04-28 19:09] guillermo-ruffino commented on #51
I just tried @fmrico method and I got this

[code]

I made myself a repos file based on the list above

[code]

Error is not self descriptive unfortunately

[2020-04-28 19:24] theseankelly commented on #51
I was working on this exact topic on Windows this morning and I see (I'm pretty sure) the same error as you. It looks like the dotnet/ament cmake scripts are failing to either export or import the assemblies for nested messages, which causes action_msgs to fail. I have no idea (yet) why this problem doesn't exist when building the entire ROS2 source at once.

Hopefully it's a quick fix, but I ran

[2020-04-28 19:54] guillermo-ruffino commented on #51
Alright, I'll try the rollback, may be I learn more if I can start from something working.

As you'd might know already, the issue is finding the type `unique_identifier_msgs.msg.UUID` for `Goal_id`

By reading your post I had the idea to compare the generated project (I realized this is generated because it's not well formatted and also on build folder, please don't hesitate on teaching me obviou

[2020-04-28 19:57] theseankelly commented on #51
Yup, that's exactly the missing reference I was running into morning. Will dig in more later!

[2020-04-29 20:13] theseankelly commented on #51
Well, it was indeed an easy fix. The `unique_identifier_msgs` assembly reference is missing because we are not building `unique_identifier_msgs`! I thought I was, but I had cloned it to the wrong directory by mistake.

If you add https://github.com/ros2/unique_identifier_msgs to your repos list (eloquent branch of course) this should work fine.

I'm currently encountering a Unicode error in `test_

[2020-04-29 20:28] guillermo-ruffino commented on #51
Thanks! It worked. Now I don't have the `test_msgs` on my local copy

[2020-05-05 06:39] mce16 opened #59 "Exception thrown: 'System.DllNotFoundException' in rcldotnet_common.dll"
Hi

I managed to run the talker and listener example using the binary built.

However, when i try to use the dlls in my Visual Studio 2017 project, although the talker and listener everything seems to run smoothly; i encountered the following in the output:
"Exception thrown: 'System.DllNotFoundException' in rcldotnet_common.dll"

I saw this issue reported by another user before; but the user has

[2020-05-05 22:20] theseankelly commented on #59
Can you use loader snaps to determine the missing dll?

https://docs.microsoft.com/en-us/archive/blogs/junfeng/debugging-loadlibrary-failures

[2020-05-06 06:06] comoc opened #60 "Build process does not progress"
After ```colcon build --merge-instal```, do not proceed as shown below.

[code]

The patch.exe window remains visible during this display.

* Windows 10 Pro
* Visual Studio 2019
* patch.exe was installed via Chocolatey.

Thanks.

[2020-05-06 10:30] theseankelly commented on #60
Doesn't sound like a ros2_dotnet specific issue.

Sounds like what happens when you don't run your `colcon build --merge-install` command in an Administrative command prompt -- patch elevates, opens new cmd window, and nothing continues. Possible?

[2020-05-06 21:39] comoc commented on #60
Hi @theseankelly ,
Thank you for the reply.

I had tried it on non administrative command prompt before.
So I have tried on administrative command prompt again, then the patch process looked successful.

And the result turned the following.
[code]

What should I do next?

Thanks,

[2020-05-07 03:46] mce16 commented on #59
Thanks.

I have used the gflags, here is the output from windbg; (the gflags somehow doesn't work with my visual studio debugger, its output doen't show anything, not sure why).

WindowsFormApp1.exe  has made a call to RCLdotnet.Init() during initialization.

[log.TXT](https://github.com/ros2-dotnet/ros2_dotnet/files/4590590/log.TXT)

[2020-05-08 10:56] theseankelly commented on #59
It doesn't look like any DLL has actually failed to load as of that breakpoint. Let the debugger go and see if it progresses to give any errors about dll loading in the text output.

[2020-05-09 11:00] theseankelly commented on #56
Hey @esteve I'd love your thoughts on this topic. I imagine you started this project with `rcl` because the `rclpy` implementation provided a good model. I'm curious how you feel about that decision 3-4 years later as things have matured -- any comments on the summary above? What am I not thinking about?

[2020-05-09 11:15] fmrico commented on #56
I would love to, but maybe we are breaking the ROS2 design. It's supposed that any client library is on top on rcl... I want to know the opinion of @esteve

[2020-05-09 11:32] theseankelly commented on #56
That's a good point. I suppose such a choice would turn this project into *just* language bindings for another client library instead of a full blown standalone client library. I'm not yet sure if that's a good or a bad thing.

[2020-05-09 11:58] esteve commented on #56
The rationale for `rcl` is that each client library may have its own language-specific peculiarities and you want those client libraries to "feel" natural to the developers. One example is the threading model, it's very language-specific, so you don't want to use something that may feel alien (e.g. using `pthread` from .NET may be awkward) and that is difficult to integrate with constructs provide

[2020-05-09 17:25] theseankelly commented on #56
Great points. I suppose replicating some implementation logic (executors, services, etc) in the target language would also make debugging easier for users. I was coming at this with my C/C++ hat on, not thinking about it from the perspective of .NET users.

Makes sense for me, I'll call this topic closed for now.

[2020-05-09 17:48] fmrico commented on #56
I will play the role of "agent provocateur". Are we willing to develop in C# what is currently working in C++? Maybe not, but I think using rcl is the correct decision

[2020-05-09 17:53] theseankelly commented on #56
[I closed prematurely, we can keep discussion ongoing for a while ;)]

Agree, it's a tough choice between what's 'right' and what gets the job done most efficiently. For my purposes (ROS in UWP containers on HoloLens) I do feel quite torn about the best path forward: pushing ros2_dotnet forward and fleshing out the implementation versus writing UWP component libraries in C++/WinRT, including custo

[2020-05-09 18:12] fmrico commented on #56
IMHO the goal is to make ros2_dotnet attractive enough to create a community around it. Maybe then C# developers could start to improve the core, and then the decision is clearly to build it on top of rcl as an independent client library. That would be very cool. There are many SDKs only in C#. This project is very useful.

Moving ros2_dotnet to eloquent has been a great improvement and maybe the

[2020-05-09 18:30] esteve commented on #56
I'd say the scope of `ros2_dotnet` is CLR languages, more specifically languages supported by .NET Core. So, for developers who want to write C++/WinRT applications, it's just best to ensure that upstream `rclcpp` can target WinRT. However, for those who want to use C#, F#, etc. `ros2_dotnet` is useful by itself, plus it'd be more attractive to them in case they want to contribute so they don't ha

[2020-05-10 06:30] mce16 commented on #59
Sorry, i think i have attached the wrong log file, it should be this:

[log2.TXT](https://github.com/ros2-dotnet/ros2_dotnet/files/4605246/log2.TXT)

[2020-05-12 08:21] mce16 opened #62 "array types"
Hi

I just want to confirm, is there a way to create an array of a primitive type, for instance an array of bytes, or an array of integers etc?

Stepping into the codes for types like std_msgs.msg.UInt16MultiArray or ByteMultiArray seems to point to unsupported types. Is this true?

The usage would be quite limited without the support of those arrays types ..

[2020-05-12 08:37] esteve commented on #62
@mce16 we are currently working on that. Would you be interested in contributing?

[2020-05-16 04:05] quattrinili commented on #55
I also the same problem and the workaround in #53 does not work in solving the problem -- I believe that workaround applies for the Windows Desktop instruction and not the UWP. If I have time I will dig a little more into it.

[2020-05-16 18:32] quattrinili commented on #55
At least the rcldotnet_common error was solved for the UWP build -- it was an incompatibility with the platform. (To get the specific error, add to the colcon command the option
`--event-handlers console_cohesion+`; in this way the errors printed in the standard output are also displayed.)

The next error now is on fastrtps and I suspect a difference with the language being used, given that it giv

[2020-05-16 22:08] quattrinili commented on #55
At least for me, the workaround to make the UWP build work was to remove the following flag
`-DCMAKE_SYSTEM_NAME=WindowsStore` resolving the error about fastrtps in the previous comment.

[2020-05-17 09:32] theseankelly commented on #55
Hey @quattrinili -- the `-DCMAKE_SYSTEM_NAME=WindowsStore` flag is required for UWP. The build will work but you'll likely find runtime problems in UWP.

Can you share your full `colcon build ...` command you are using for UWP?

[2020-05-17 09:34] theseankelly commented on #55
On second thought @quattrinili if this is for UWP can you please open a new issue?

[2020-05-17 12:59] esteve commented on #55
@quattrinili

Thanks for your report, though it'd better to file a separate ticket, given that the issue you encountered differs from this ticket.

FastRTPS keeps breaking the UWP support in every release, despite @theseankelly and I having sent patches to fix it, but they always revert the changes in new releases and don't even care about regression tests.

Just to make sure this is not a new iss

[2020-05-17 13:15] quattrinili opened #63 "Build error on UWP"
There is an issue for the UWP build of ros2_dotnet. In particular, the error is on fastrtps and the problem seems to be related to perhaps some differences in libraries and non-compatibility with UWP as it gives some syntax errors:

e.g., error C2332: 'struct': missing tag name (compiling source file ros2-uwp\src\eProsima\Fast-RTPS\src\cpp\transport\TCPAcceptorSecure.cpp)

- this is the command I

[2020-05-17 13:18] quattrinili commented on #55
Thank you @theseankelly and @esteve. Indeed the DCMAKE_SYSTEM_NAME=WindowsStore flag is required for UWP -- I just tested to see if it was working, but it was throwing an exception in loading the DLL in an UWP app. The error looked similar at the  beginning, thus I commented here, but it is indeed a different issue, so I opened the new issue, responding to your questions as well. I will continue i

[2020-05-18 08:46] #51 closed

[2020-05-18 08:46] #53 closed

[2020-05-18 08:46] #55 closed

[2020-05-19 09:25] Andor233 opened #64 "How can use it in the unity under Linux?"
I'm a developer who is creating a simulation environment for Robot. Our robot is running under Linux, So How can use it in the unity under Linux?

[2020-05-19 13:00] adamdbrw commented on #64
You would need some additional effort for that. Assemblies and native libraries (dll and so files) built by this project need to be in proper Plugin directories of Unity. Additionally, FastRTPS and UnityPlayer libraries conflict for current version, but you can make it work with CycloneDDS.
There is a couple of important things missing still, though the project is on a good way to fill the gaps (I

[2020-05-19 23:03] mcevoyandy commented on #63
@quattrinili were you able to resolve this issue? I've got the same problem.

[2020-05-20 09:55] theseankelly commented on #63
Hey @quattrinili and @mcevoyandy

Quick thought from my side -- have you used ROS2 on Windows before (and thus, have you installed all the nuget package dependencies necessary for the Desktop install?). I've noticed that if cmake can find them, then ASIO will not source its own copies, and you'll end up pulling in the non-UWP libraries to the build which can cause build and/or runtime errors.

Uni

[2020-05-20 09:57] theseankelly commented on #63
Oh and uninstall OpenSSL as well -- my memory is foggy but I believe if OpenSSL is not present, FastRTPS will not build with security enabled (and your build error is in something called "TCPAcceptorSecure")

[2020-05-20 10:06] esteve commented on #63
@quattrinili @mcevoyandy yes, @theseankelly is right, uninstall OpenSSL for now. The reason for this failing is that `TCPAcceptorSecure` uses `interface` as a variable name, but that is defined in `windows.h` as a `typedef` for something else. However, because we don't install OpenSSL in CI, we didn't see this issue.

I'm updating our fork of Fast-RTPS to not build the security stuff if targeting

[2020-05-20 10:22] esteve commented on #63
I've disabled support for the security extensions in FastRTPS if building for UWP in https://github.com/ros2-dotnet/Fast-RTPS/commit/40072bb821e567d96e389d6180960416257a7c0e

@quattrinili @mcevoyandy could you try again with an updated copy of our fork of FastRTPS?

Thanks!

[2020-05-20 10:27] esteve commented on #60
@comoc can you confirm these details so we can help you better:

- Have you installed all the dependencies as detailed in the README?
- What operating system are you building `ros2_dotnet`?
- If you're building on Windows, is it for UWP or Desktop?
- What version of ROS 2 is installed on your system?

Thanks!

[2020-05-20 16:49] mcevoyandy commented on #63
Thanks for the fast response! This enabled fastrtps to build properly :)

Here's the steps I followed:
1. Windows > Add or Remove Programs > OpenSSL > uninstall
2. in cmd: > choco uninstall asio
3. Remove build, install, log folders from previous build attempts
4. Repeated install instructions

[2020-05-20 17:45] mcevoyandy opened #65 "Unity UnsatisfiedLinkError"
Trying to follow the README and set up a simple talker attached to the Main Camera so adapted the talked example to a Unity script but get the following error when I try Play.

`std_msgs__dotnetext_native.dll` is included under Assets > Plugins

[code]

[2020-05-22 09:13] Andor233 commented on #64
My unity version is 2020, and it doesn't conflict with FastRTPS. It seems like works fine.
By the way, how can I use custom message?

[2020-05-22 11:49] comoc commented on #60
Hi @esteve,

I tried the latest version of ros2_dotnet. Finally, It worked!!!

Desktop

https://github.com/ros2/ros2/releases/download/release-eloquent-20200124/ros2-eloquent-20200124-windows-release-amd64.zip

After that, I faced the following problem.
[code]

So I renamed  the `rcldotnet_talker.bat` and `rcldotnet_listener.bat` to `rcldotnet_talker.bat.bak` and `rcldotnet_listener.bat.bak`.

As

[2020-05-22 11:49] #60 closed

[2020-05-23 03:56] quattrinili commented on #63
I forgot that I had OpenSSL and I uninstalled it. The error related to it disappeared. However, unfortunately, I am still having problems, this time with linking with a link with foonathan_memory. I am digging into it.

`foonathan_memory-0.6.2.lib(virtual_memory.obj) : error LNK2019: unresolved external symbol __imp_VirtualAlloc referenced in function "void * __cdecl foonathan::memory::traits_deta

[2020-05-24 11:01] hakuturu583 commented on #62
@esteve Hi, I am integrating ros2-dotnet with Unity and I found same issue.
So, I am very interested in contributing to this issue.

[2020-05-24 11:05] hakuturu583 commented on #62
@esteve how is the current status of the development.

[2020-05-24 11:42] fmrico commented on #62
Hi @hakuturu583

I have almost finished this. I can try to PR something soon. Maybe not complete (array of string are a headache)

Best

[2020-05-25 03:10] quattrinili commented on #63
Ok, found the problem: it is in the foonathan/memory, which uses `VirtualAlloc`, however UWP does not support it. Instead, `VirtualAllocFromApp` should be used, and that works also for Windows Desktop app (see https://docs.microsoft.com/en-us/windows/win32/api/memoryapi/nf-memoryapi-virtualallocfromapp). I modified it in my fork https://github.com/quattrinili/memory -- I plan to submit a pull requ

[2020-05-25 03:21] hakuturu583 commented on #62
@fmrico Great! I am looking forward to see it.
If do you want to some help, feel free to contact me!

[2020-05-25 03:23] hakuturu583 commented on #62
@fmrico

You mean , your folk of ros2-dotnet cannot generate message like below??

[code]

[2020-05-25 09:38] esteve commented on #63
@quattrinili

That's great! Fast-RTPS introduced `foonathan_memory` as a dependency, but it's weird that our CI hasn't caught that. In any case. thanks! :-)

[2020-05-25 19:48] theseankelly commented on #62
@hakuturu583 that's an overly simplistic view of how language projections go from yaml to C to C#. Let's instead thank @fmrico  for dedicating his free time to enable this feature.

[2020-05-28 13:22] quattrinili opened #67 "DLL not found in UWP blank app"
After being able to compile for UWP (see #63), now I am trying to have two simple UWP blank programs, one listener, one talker. Following the instructions to add the dlls and the references, the run of such simple programs report error in loading DLLs. (Note that the desktop version and the corresponding examples work on my system.)

I looked at a previous issue that seemed to be related to issue

[2020-05-28 17:57] quattrinili commented on #63
Maybe it was working with a previous version of MSVC? I submitted the pull request upstream for foonathan memory, but I see that it fails with MSVC 14 (should be Visual Studio 2015). On my system, both VS 2017 and 2019 work. All these versions make it hard to ensure things work properly... :)

[2020-05-28 21:44] mcevoyandy commented on #67
I'm having similar issues but also find difficulty in applying the suggestions in #2.

[2020-05-28 21:44] mcevoyandy commented on #65
seems to be same issue as #67

[2020-05-28 21:44] #65 closed

[2020-05-28 21:48] quattrinili commented on #67
Indeed it looks similar to #65, but I don't have Unity in my case (that's the reason why I opened a new issue. The configuration is slightly different, but it shouldn't change much -- hopefully the solution if we find it will be applicable to both cases!

[2020-05-28 22:22] mcevoyandy commented on #67
Agreed there are slight differences, but I think the underlying issue is the same.

I also have desktop examples working, but get missing references to MSVC140 in Dependency Walker on some dlls...  so now have VS 2019, 2017, and 2015 installed. You're right in the other thread. This is confusing to get working :)

[2020-05-28 23:19] mcevoyandy commented on #67
@quattrinili I don't get any dependency errors on rcldotnet_common, but do get these missing dependencies on `rcldotnet_native.dll`

![dependencywalker_rcldotnet_native_dll](https://user-images.githubusercontent.com/1350297/83203748-689a3100-a107-11ea-8628-9c1c2eda073c.png)

[2020-05-29 17:24] adamdbrw commented on #64
You need to run cs generator with these messages - easiest way is to drop the message package into build tree and add it to dependencies. The register hooks for the generator will take care of the rest

[2020-05-29 18:01] fmrico commented on #62
Hi @hakuturu583

I have just PR #68 . It provides support for collections of basic and nested types, except string. Ypu can use

[code]

as workaround. As soon as it will be accepted (I think there will be some iterations due to @esteve and @theseankelly revisions), I will be delighted if you could help me with strings.

I hope it helps!!!

[2020-06-09 05:13] quattrinili commented on #67
I finally had a little bit of time to take a stab again at this and have some updates. I think that  .NET Native tool chain should be disabled -- I suspect that there are parts of the code of ros2_dotnet that are not compatible with that.

With that option disabled, the error that appears in the console "Exception thrown: 'System.DllNotFoundException' in rcldotnet_common.dll" is coming from the Ch

[2020-06-09 09:20] theseankelly commented on #67
The .NET Native issue is known (see issue #39) -- sorry it did not come back to my memory when reading this thread sooner.

[2020-06-12 00:54] hakuturu583 commented on #62
@fmrico Very Cool, Thank you very much.
I want use it. :+1:

[2020-06-20 01:54] hakuturu583 opened #69 "Sequence Type"
I want to use Sequence Type in ros2_dotnet and I succeed to publish sequence type of Basic Type in my fork.

[2020-06-20 01:57] hakuturu583 commented on #69
But, when subscribing Sequence Type of the Basic Type, the size of the sequence is too huge.
I want help.

[2020-06-20 01:57] hakuturu583 commented on #69
My fork is here.
https://github.com/OUXT-Polaris/ros2_dotnet/tree/sequence_type

[2020-06-20 01:58] hakuturu583 commented on #69
and my test code of publishing and subscribing Sequence Type is here.

[2020-06-20 01:58] hakuturu583 commented on #69
Listener
[code]

[2020-06-20 01:59] hakuturu583 commented on #69
Talker
[code]

[2020-06-23 11:40] hakuturu583 commented on #69
I succeed to solve this issue.

[2020-06-23 11:40] #69 closed

[2020-07-16 11:41] Houman-HM opened #70 "UWP build fails"
Hey all,

I'm trying to build ros2_dotnet_uwp on Windows 10, Visual Studio 2019. The ament building finishes with no error. However, building ros2_dotnet_uwp itself fails when compiling std_srvs. In addition, it cannot find poco-config.cmake  as well.

I was wondering if somebody could let me know what I am doing wrong and what I can possibly do to resolve the issue.

[2020-07-16 14:08] Houman-HM commented on #70
I managed to find the problem. `python lark-parser` was not installed.

[2020-07-16 14:08] #70 closed

[2020-07-29 02:27] mce16 opened #71 "Is composite types still missing?"
Hi

I would like to use some msg types such as

[code]

Is this possible yet?

I saw in another thread array types #62 that fmrico has completed the array and nested types. Is this the same as what i mentioned here? How do i get a build of that, i would very much like to try it. I am running on Windows 10 x64

[2020-08-05 16:25] fmrico commented on #71
Composite (Nested) types are currently available. Collections (Arrays) are still under revision.

[2020-08-08 22:10] finiternd opened #72 "ament_package not found"
Following instructions for UWP on Windows 10 VS 2019 and can't get past building ament and run into two issues.

First Issue:

PS D:\ROOT\GitHub\dev\ament> curl -sk https://raw.githubusercontent.com/ros2-dotnet/ros2_dotnet/master/ament_dotnet_uwp.repos -o ament_dotnet_uwp.repos                                                                                         Invoke-WebRequest : A parameter c

[2020-09-08 11:47] PaoloTo commented on #64
Dear @adamdbrw, there are updates on unity implementation of ros2_dotnet?

[2020-09-10 11:26] vrguru opened #73 "Problem building infinite loop at Processing: rosidl_adapter"
Hi.

I followed the instructions downloading a prebuilt binary for ROS2 (on WIndows 10).
However after issuing the command:

**colcon build --merge-install**

I get this where it never stops processing rosidl_adapter. Any ideas of what goes wrong? I left it for 3 hours....still working

Starting >>> rosidl_adapter
Starting >>> rosidl_typesupport_interface
Starting >>> ament_cmake_export_assemblies

[2020-09-18 13:42] PaoloTo opened #74 "The type or namespace name 'ROS2' could not be found"
i copied a lot of .so inside unity Plugins folder with the help of dotnet_utils package from the samiamlabs fork but ROS2 namespace could not be found.

[2020-10-19 16:05] michaelchi08 opened #75 "Build error on win 10"
Win10 and .NET Core 3.1 is installed

Starting >>> rcldotnet_common
--- stderr: rcldotnet_common
CMake Warning (dev) at C:/opt/ros/foxy/x64/Lib/site-packages/cmake/data/share/cmake-3.18/Modules/FindPackageHandleStandardArgs.cmake:273 (message):
  The package name passed to `find_package_handle_standard_args`
  (DOTNET_CORE) does not match the name of the calling package (DotNetCore).
  This can le

[2020-11-22 16:39] berkayalpcakal commented on #75
Hi @michaelchi08,

I am also facing the same error. rcldotnet_common fails to be built without any explicit error log.
Have you resolved the issue?

[2020-11-22 16:42] michaelchi08 commented on #75
Hi @berkayalpcakal , no unfortunately not yet 😞

[2020-11-24 11:53] berkayalpcakal commented on #75
Hi again,

I was able to build this repository in a ros2 workspace on my Ubuntu 18.04 machine. Then I wanted to build these packages in a ros2 workspace on my Win 10 machine. But 'rcldotnet_common' does not build for some reasons, and gives the aforementioned build output.

Then I decided to follow the way as described in [here](https://github.com/DynoRobotics/UnityRos2#building-custom-interfacesm

[2020-11-27 03:53] michaelchi08 commented on #75
Hi, thanks for letting me know. I'll give it a try. it'll be nice if we could run this natively though. Do yo know if it's possible to run just this in docker and the all other ros2 nodes natively on windows?

[2020-11-30 17:57] michaelchi08 opened #77 "Build error on ros2 foxy untuntu 20.04 with .netcore"
Finished <<< std_srvs [1.12s]
--- stderr: unique_identifier_msgs
/home/ros/ros2_dotnet_ws/build/unique_identifier_msgs/rosidl_generator_dotnet/unique_identifier_msgs/msg/uuid.c:11:10: fatal error: rosidl_generator_c/message_type_support_struct.h: No such file or directory
   11 | #include "rosidl_generator_c/message_type_support_struct.h"
      |          ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-11-30 18:19] clightcap-kcl commented on #77
@michaelchi08 I just ran into the same issue a few minutes before your post. I believe it may be related to ROS2 Foxy no longer using the rosidl_generator_c namespace:
https://index.ros.org/doc/ros2/Releases/Release-Foxy-Fitzroy/#rosidl-generator-c-cpp-namespace-api-changes

Has anyone successfully built this repo with ROS2 Foxy?

[2020-12-02 07:18] fmrico commented on #77
Hi

Have a look to #68 . In this PR I have fixed this error.

Best

[2020-12-29 03:29] eholmes13 commented on #62
Hello, I've been trying to get the code from PR #68 working on Windows 10 but I'm still unable to get any messages with arrays working. Everything builds just fine, but even after adding the new .dll files to my project in Visual Studio the "data" parameter is still missing for all message types so I am unable to create any messages that contain arrays. Has this happened to anyone else or did I ov

[2021-07-11 09:43] mce16 opened #78 "Build overlaying Galactic"
I an trying my luck with building it overlaying galactic and i encounter an error in file path like below
[code]

Any hint how i can solve this?

[2021-07-11 13:46] mce16 commented on #78
Latest update: Successfully built as overlay on galactic release with branch from @fmrico , with vs2019 x64

[2021-09-14 17:54] ooeygui opened #79 "Current CI Action uses deprecated feature - Path"
https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions#environment-files

Working on it.

[2021-10-11 15:18] ooeygui commented on #20
This is being implemented by Azure Edge Robotics for Foxy. Incoming Payload

[2021-10-11 15:19] ooeygui opened #80 "[Feature] Support Humble"
This work item is to support the Humble release of ROS2.

[2021-10-11 15:20] ooeygui opened #81 "[Feature] Support Unity Editor"
This feature is being implemented by Azure Edge Robotics. Payload incoming.

[2021-10-11 15:21] ooeygui opened #82 "[Feature] Support Hololens"
This feature is to support ROS2.net on Hololens. This is has been contributed to by numerous people and companies, and will be upstreamed shortly.

[2021-10-11 16:00] ooeygui opened #83 "[Feature] Add Automated Tests"
This is a generic work item about Increasing the test coverage of the codebase.

[2021-10-17 07:11] esteve commented on #81
@ooeygui as part of #82 , one of the goals of `ros2-dotnet` was to have support for Unity, which was added in order to support Hololens. So I don't know what's missing here, can you please elaborate? Thanks

[2021-10-17 15:45] ooeygui commented on #78
https://github.com/ros2-dotnet/ros2_dotnet/pull/84 should enable this; but it hasn't been tested.

[2021-11-08 00:26] ooeygui opened #88 "[bug] dotnet fails to build with --symlink-install"
The VSCode ROS extension builds with --symlink-install, which generates this error:

[code]

(Although, vscode should offer to allow merge install https://github.com/ms-iot/vscode-ros/issues/596)

[2022-01-04 15:17] hoffmann-stefan opened #91 "Reconsider property naming convention in generated messages"
While programming using this library I regulary stumble upon the generated names of properties in the message types. For example in the [header message](https://docs.ros2.org/foxy/api/std_msgs/msg/Header.html) the field `frame_id` gets converted to `Header.Frame_id`.

`Frame_id` is neither left nor right:
- It isn't the name defined in the `*.msg` file and what c++ and python uses.
- It isn't the

[2022-01-11 12:16] esteve commented on #91
@hoffmann-stefan that's a great idea! I prefer 2 as well, PascalCase seems the most idiomatic for C# Would you be interested in submitting a PR for this? Thanks.

[2022-01-11 12:53] hoffmann-stefan commented on #91
@esteve Yes, I would like to submit a PR for this. Altough this should be done after the other larger open PRs are merged, as this would result in somewhat huge merge conflicts if done before those are merged.

[2022-01-12 21:26] shschaefer commented on #91
I would suggest option #1 as it is consistent with message identifiers across all platforms.  It is important that the C# language interfaces are idiomatic, but will cause debugging inconsistencies at the messaging layer when this convention is changed.

[2022-01-12 21:41] shschaefer commented on #49
As described in public at ROS World 2021, it was our team's intent to work on this.  Before checking in any code, it would be great to understand if anyone else is working on this, like your team @hoffmann-stefan.

[2022-01-13 13:32] hoffmann-stefan commented on #49
We are currently not working on this library as we wait which of the open PRs (#87/#84 or #89/#90) get chosen and how they are modified by review. Doing something now would result into huge merge conflicts. (Unless we absolutly need some bugfix or little feature for an internal project) After that we would take another look which features we need, Actions are certainly up on the list. So if no one

[2022-01-13 19:17] shschaefer commented on #49
Thanks @hoffmann-stefan .  The work on Actions was near complete last fall before our overlapping PRs were submitted.  I am simply dusting the code off and completing it.  I have looked to see what the impact of changing Esteve's existing pattern which I tried to follow to what you have done.  Most are trivial with the exception of using SafeHandles.  There is a pile of additional work on error ha

[2022-01-17 11:44] hoffmann-stefan commented on #49
@shschaefer Ok, thanks for the information and your work on this.

I already thought that the interface change can be controversial. I realy like the arguments made in the book [Framework Design Guidlines](https://www.amazon.de/dp/0135896460/) (.NET specific) about this. Though I know many use mocking frameworks (which need interfaces) to test theire code. I have not used a mocking framework yet,

[2022-03-01 18:30] shschaefer commented on #49
@hoffmann-stefan , your observation is spot on that we are quite far away from the constraints of the BCL.  However, it is also true that this is not service code where the IoC pattern has proven its worth and driven many of the interface based test patterns.  I often find that the interface pattern allows me to move quickly, then refactor as the abstractions become clear.

I have completed a firs

[2022-03-23 17:07] hoffmann-stefan commented on #49
@shschaefer, I looked at your current published code in the `dev/actions`
branch, as we are nearing the point where we need actions as well in our team.
I know this is an early prototype, but maybe there are some directions we can
discuss before continuing the implementation.

- https://github.com/ms-iot/ros2_dotnet/tree/dev/actions
- https://github.com/ms-iot/ros2_dotnet/compare/2b0bf8b3ff281693b

[2022-03-23 21:25] shschaefer commented on #49
Thanks @hoffmann-stefan , it is good to hear that your team needs to use this work.  I have expressed since the first post here, the desire to avoid a repeat of PR#84-90 which I feel we are on course to do again.  If you feel that my current work in a secondary staging branch that I indicated would include your code to resolve mechanical differences and ease upstream merging needs direct attributi

[2022-03-29 13:05] hoffmann-stefan commented on #49
@shschaefer: This took some time to write a response, but I hope the length of
this post explains why ;)

For now we should be fine here, I did not start implementing this. Discussing
the API for this feature is the way to avoid this.

Though I have to be honest, depending on when this will be finished (or at least
in a somewhat usable state compatible to the other APIs in #90) we can use this.
On

[2022-04-04 19:40] hoffmann-stefan commented on #49
@shschaefer: As written in the last post I did some investigation on how the action server APIs work and compared `rclpy` and `rclcpp`. There are differences like you said before between them, all mainly around how the callbacks are handled. I documented the differences here and provide an C# mapping of both libraries as a starting point for discussion how the API should look like. You started wit

[2022-04-05 06:58] mce16 commented on #62
[code]
I have the impression above will work, but both doesn't work for me;
colcon build passed but the types are not generated at all.

[2022-04-05 07:06] hoffmann-stefan commented on #62
@mce16: which branch where you using?

In the mean time I did an PR improving support for collections (for example collections of strings) that contineus the work from @fmrico, see: https://github.com/ros2-dotnet/ros2_dotnet/pull/89

(you may also be intrested in the follow up PR of mine adding support for services, see #90)

Maybe you should try this branch if you don't have this already.

The pa

[2022-04-05 07:24] mce16 commented on #62
@hoffmann-stefan
Here is the one,  i will try yours for latest updates, but i am having doubt what have gone wrong since the the branch from @fmrico originally mentioned the support for arrays and the use of std_msgs/String[] as a workaround for string[], but none of the arrays are being generated after build.

https://github.com/fmrico/ros2_dotnet/tree/collections

[2022-04-05 18:16] shschaefer commented on #49
Hi @hoffmann-stefan , as I indicated earlier, I started bottoms up instead of tops down to understand the complexity of the action implementation as opposed to services and topics which are quite straightforward and less intertwined with the asynchronous behaviors of the underlying libraries.  I started with the cpp libraries to keep the problem manageable before defining a desirable API surface.

[2022-04-06 02:11] mce16 commented on #62
updates:

My msg definition was an overlay project, and I just tried rebuilding it in the same workspace now as ros2-dotnet and having the same issue again. The only thing different is I am building it against galactic, but I don't think this will pose an issue in this?

[2022-04-07 19:50] hoffmann-stefan commented on #62
@mce16

The current master branch does only support fixed sized arrays (excuding arrays of strings).
See this example in the code: https://github.com/ros2-dotnet/ros2_dotnet/blob/51dc3803af1b4b5fda0711eed6d58b43013f5aa4/rosidl_generator_dotnet/resource/msg.cs.em#L37-L44
unbounded and bounded arrays are called "sequences" in the idl code.
Didn't think about this initialy as there was some time sinc

[2022-04-12 01:14] mce16 commented on #62
@hoffmann-stefan , perfect, I built it with #90 and finally some progress! The array seems to work now :-)
The only issue i have now is, if I have to build my msg definition modules in the ros2-dotnet workspace instead of overlaying it, it is slow to build the whole ros2-dotnet than just building my msg modules as an overlay whenever I update my msg definitions.

[2022-04-14 06:48] hoffmann-stefan commented on #62
Nice to hear 👍

Some thougths about the performance problems:
- Maybe using the colcon package selection arguments helps a little?
  - https://colcon.readthedocs.io/en/released/reference/package-selection-arguments.html
- Building the messages in the same workspace as ros2-dotnet was a step to reduce potential problems while debugging this. Could you try if it now works if the messages are in an h

[2022-04-21 21:17] ooeygui opened #92 "Reenable UWP Builds for Foxy"
The ROS2.net UWP builds are not functioning due to ROS2 itself failing to build on the Universal Windows Platform. An effort is under way to upstream ROS2 for UWP, after which time the ROS2.net UWP builds can be reenabled.

Here are the tracking repositories for the various ROS2 on UWP changes:
https://github.com/ms-iot/Fast-DDS.git
https://github.com/ms-iot/rcpputils.git
https://github.com/ms-iot

[2022-04-21 21:21] ooeygui commented on #92
During the process of upstreaming these changes, it was discovered that poco_vendor has been archived, instead relying on the OS libraries. Poco itself has not been [UWP enabled](https://github.com/pocoproject/poco/issues/2544). UWP has been grafted on - including with poco_vendor and vcpkg.

@esteve I'd like to propose creating a fork of  https://github.com/ros2/poco_vendor in the ros2_dotnet org

[2022-05-09 09:07] hoffmann-stefan commented on #49
Sorry about that, this was a copy-paste error while translating this from the python code [here](https://github.com/ros2/rclpy/blob/31147813b653b4820c0b7c16b12ee30f8ab29ccb/rclpy/rclpy/action/server.py#L175-L182) (did copy the goal callback to the cancel one without noticing the different return value). I changed this in my post to avoid getting this wrong again later on.

[2022-05-09 21:34] ooeygui commented on #92
First PRs are pulled into humble. Working on next batch.

[2022-05-10 07:25] esteve commented on #92
@ooeygui no problem about the poco_vendor fork, but it seems that https://github.com/ros2/poco_vendor has been archived. Is it still being used by ROS2? I think the only part of POCO in use was for dynamically loading a library, which was replaced by calling `dlopen` / `LoadLibrary` directly.

[2022-05-10 16:47] ooeygui commented on #92
@esteve Let me check on that.

[2022-06-15 10:52] hoffmann-stefan commented on #91
Seems like `ros2_java` is using CamelCase as well: https://github.com/ros2-java/ros2_java/blob/434e6f55253bfe2cb9ce34799fe548bbf4998d0e/rosidl_generator_java/rosidl_generator_java/__init__.py#L28-L30
Opend a PR for this: #93

[2022-06-24 12:10] hoffmann-stefan commented on #49
Some changes I found while implementing this in #94:

- Rename `ActionClient.ServiceIsReady()` to `ActionClient.ServerIsReady()`, move to base class as well.
- Some other small renames in the implementation details for the generated messages.
- The proposed `RosActionSendGoalRequestReflectionCache` does not work as you can't reference the concrete `SendGoalRequest` type for the generic parameter.

[2022-11-14 17:39] hoffmann-stefan commented on #62
Closing this as #89 implementing this feature is now merged.

[2022-11-14 17:40] hoffmann-stefan commented on #71
Closing this as nested types are already avaliable.

[2022-11-14 17:40] #71 closed

[2022-11-14 18:17] hoffmann-stefan commented on #47
Closing this as nested types are supported, thanks @fmrico for implementing them back then :)

[2022-11-14 18:17] #47 closed